/* Add Post lehekülg */
#add-post-section {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
  width: 70%;
  padding: 20px; /
}

.add-post-box {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 80%;
}

.add-post-box h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: left;
}

.add-post-box form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-post-box textarea, .add-post-box input[type="file"] {
  width: 100%;
  margin-bottom: 15px;
}

.add-post-box button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-post-box button:hover {
  background-color: #0056b3;
}