/* Postitused */
.post {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.post-header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-info {
  color: #555;
  font-size: 0.9em;
}

/* Postituse sisu */
.post-content img {
  max-width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

/* Postituse jalus */
.post-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.like-button {
  margin-right: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.like-button:hover {
  background-color: #0056b3;
}

.like-count {
  margin-left: 10px;
}
