/* Sisse logimise lehekülg */
#login-section {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
  width: 70%;
  padding: 20px; 
}

.login-box {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 50%; 
}

.login-box h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: left;
}

.login-box form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-box input {
  margin-bottom: 15px;
  width: 100%;
}

.login-box button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #0056b3;
}