/* Postitused */
.post {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.post-header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.post-info:hover {
  color: #000; 
}

.post-info {
  color: #555;
  font-size: 0.9em;
}


.post-content img {
  max-width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.post > p {
  color: #333;
  margin-bottom: 10px;
}

img + p {
  font-size: 1.1em;
  color: #444;
}

/* Teskstid peale pilti */
img ~ p {
  font-style: italic;
}

/* Postituse jalus */
.post-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Pseudo-class like nupp */
.like-button:hover {
  background-color: #0056b3;
  transform: scale(1.1); /* Suurenda nuppu natuke */
}

.like-button {
  margin-right: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.like-count {
  margin-left: 10px;
}
